body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:275px;
  width:106px;
  height:58px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:102px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:117px;
  width:89px;
  height:57px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:275px;
  width:89px;
  height:57px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:417px;
  width:89px;
  height:57px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:304px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-162px;
  width:8px;
  height:166px;
}
#u4_seg2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-162px;
  width:63px;
  height:8px;
}
#u4_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4_seg4 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-167px;
  width:19px;
  height:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:304px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u5_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-9px;
  width:19px;
  height:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:304px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:150px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:138px;
  width:63px;
  height:8px;
}
#u6_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6_seg4 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:133px;
  width:19px;
  height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:96px;
  width:115px;
  height:41px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:155px;
  width:115px;
  height:41px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:146px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:8px;
  height:37px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-33px;
  width:41px;
  height:8px;
}
#u9_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u9_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-38px;
  width:19px;
  height:18px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:146px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u10_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-4px;
  width:8px;
  height:38px;
}
#u10_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:26px;
  width:40px;
  height:8px;
}
#u10_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u10_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:21px;
  width:19px;
  height:18px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:232px;
  width:115px;
  height:41px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:283px;
  width:115px;
  height:41px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:334px;
  width:115px;
  height:41px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:400px;
  width:115px;
  height:41px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:451px;
  width:115px;
  height:41px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:304px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-55px;
  width:8px;
  height:59px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-55px;
  width:39px;
  height:8px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u16_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-60px;
  width:19px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:304px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:304px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-4px;
  width:8px;
  height:59px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:47px;
  width:36px;
  height:8px;
}
#u18_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u18_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:42px;
  width:19px;
  height:18px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:446px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-29px;
  width:8px;
  height:33px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-29px;
  width:33px;
  height:8px;
}
#u19_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u19_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-34px;
  width:19px;
  height:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:446px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:34px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:22px;
  width:32px;
  height:8px;
}
#u20_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:17px;
  width:19px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:43px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
